.goedemorgen {
 	background-image: url(../backgrounds/morning.png);
 	background-size: 100%;
 	background-repeat: no-repeat;
}

.goedemiddag {
	background-image: url(../backgrounds/afternoon.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.goedeavond {
	background-image: url(../backgrounds/evening.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.goedenacht {
	background-image: url(../backgrounds/night.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.message {
	color: white;
	font-size: 35px;
	height: 200px;
	width: 400px;
	margin: auto;
	margin-top: 200px;
	text-align: center;
}